@font-face {
  font-family: "font-primary";
  src: url("../../fonts/ShareTech-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "font-primary";
  src: url("../../fonts/ShareTech-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
