@use "@assets/styles/variables";

html,
body {
  margin: variables.$margin-body;
  width: variables.$width-body;
  height: variables.$height-body;
  background-color: variables.$background-primary;
}

main {
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

footer {
  color: variables.$text-color-primary;
}