@use "sass:map";
@use "../variables";

body {
  font-family: variables.$font-primary;
  font-size: map.get(variables.$font-sizes, "base");
}

h1,
h2,
h3 {
  color: variables.$background-primary;
  font-weight: 700;
  color: white;
}
