@use "sass:map";
@use "@assets/styles/variables";

body {
  font-family: variables.$font-primary !important;
  font-size: map.get(variables.$font-sizes, "base");
}

h1,
h2,
h3 {
  color: variables.$color-principal;
  font-weight: 700;
}