@use "../../base/animations";

.button-block {
  max-width: 35rem;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.button-github {
  max-width: 100%;
  margin-left: 2rem;
}
@media (width >= 45rem) {
  .button-github {
    margin-left: 0.5rem;
  }
}
