@use "@assets/styles/base/animations";

.button-block {
  max-width: 80rem;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.button-github {
  max-width: 100%;
  padding-right: 2.5rem;
}

.project {
  position: relative;
  width: 312px;
  height: 312px;
}

.project figure {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.15s ease;
}

.project .project:hover .box-imagen {
  opacity: 0.3;
}

.project:hover .overlay {
  opacity: 1;
}

.block-projects {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.block {
  max-width: 60rem;
  height: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

@media (width >=45rem) {
  .button-github {
    margin-left: 0.5rem;
  }

  .block-projects {
    width: 100%;
  }
}

@media (width <=30rem) {
  .project {
    width: 100%;
    height: 100%;
  }

  .block-projects {
    margin: 0 auto;
    margin-top: 2rem;
    flex-direction: column;
  }

  .button-github {
    padding-right: 0;
  }
}