.title-block {
  max-width: 76rem;
  margin: 0 auto;
}

.block-title {
  max-width: 60rem;
}

@media (width >= 45rem) {
  .block-title {
    margin-left: 7rem;
  }
}

@media (width <= 45rem) {
  .title-block {
    width: 100%;
    margin-left: 0.5rem;
  }
  .block-title {
    margin-left: -1rem;
  }
}
