article {
  height: 60vh;
  margin-bottom: 5rem;
}

article:first-child {
  margin-top: -6rem;
}

article:nth-child(2) {
  height: 25vh;
}

article:nth-child(3) {
  height: 80vh;
}


.chevron-down-div {
  position: relative;
  width: 100%;
  color: #575757;
  margin: 0 auto;
  animation: chevron-down-indicator 3s linear infinite;
}

footer {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;

  & div:first-child {
    display: flex;
    flex-direction: row;
    padding: 5rem;


    & a {
      border-radius: 0;
      transition: 0.3s linear;
      border: 0;
      object-fit: cover;

      & svg {
        width: 2rem;
      }

      &:hover {
        transform: scale(2)
      }
    }

    & .github {
      margin-top: -1.3rem;
    }
  }

  & div:nth-child(2) {
    margin: 0 auto;
    padding-bottom: 6px;
    text-align: center;
  }

}

@media(width <=30rem) {
  article:nth-child(3) {
    height: 170vh;
  }

  footer div:first-child {
    & a {
      width: 1rem;
      margin-left: -2rem;
    }

  }
}

@media (width >=90rem) {

  article:nth-child(2),
  article:nth-child(3),
  article:nth-child(4) {
    height: 76vh;
  }
}