article {
  height: 60vh;
  margin-bottom: 5rem;
}
article:first-child {
  margin-top: -6rem;
}

article:nth-child(2) {
  height: 25vh;
}
@media (width >= 90rem) {
  article:nth-child(2),
  article:nth-child(3) {
    height: 76vh;
  }
}

.chevron-down-div {
  position: relative;
  width: 100%;
  color: #575757;
  margin: 0 auto;
  animation: chevron-down-indicator 3s linear infinite;
}
