@use "@assets/styles/variables";

article {
  height: 60vh;
  margin-bottom: 5rem;
}

article:first-child {
  margin-top: -6rem;
}

article:nth-child(2) {
  height: 25vh;
}

article:nth-child(3) {
  height: 80vh;
}


.chevron-down-div {
  position: relative;
  width: 100%;
  color: #575757;
  margin: 0 auto;
  animation: chevron-down-indicator 3s linear infinite;
}


.navLeft {
  position: fixed;
  background-color: variables.$background-overlay;
  right: 16px;
  top: 45%;
  max-width: 5rem;
  border-radius: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}


footer {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 6rem;

  & div:first-child {
    gap: 3rem;
    width: 20rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    & a {
      width: 30px;
      height: 30px;
      border-radius: 0;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: 3s ease;

      & svg {
        margin-top: 0.1rem;
      }

      & svg:hover {
        color: variables.$button-hover-primary;
        transform: scale(2);
        transform-origin: center;
      }
    }

  }

  & div:nth-child(2) {
    margin: 0 auto;
    margin-top: 5rem;
    padding-bottom: 6px;
    text-align: center;
  }

}


@media(width <=30rem) {
  article:nth-child(3) {
    height: 170vh;
  }

  .navLeft {
    display: none;
  }

  footer {
    margin-top: 15rem;
  }
}

@media (width >=90rem) {

  article:nth-child(2),
  article:nth-child(3),
  article:nth-child(4) {
    height: 76vh;
  }
}