---
import { ExpShowMore } from "@widget/index";

const response = await fetch(
  "https://dotfiles-for-humans-backend.onrender.com/Skills"
);
const data = (await response.json())[0];
---

<div class="container">
  {
    Object.entries(data).map(([title, details]) =>
        Array.isArray(details) ? (
          <ExpShowMore
            title={title.toUpperCase().replace(/\d+$/, "")}
            mapeo={details}
            className="text-wrap active"
            client:load
          />
        ) : (
          <ExpShowMore
            title={title.toUpperCase().replace(/\d+$/, "")}
            details={details}
            className="text-wrap active"
            client:load
          />
        )
      )
  }
</div>
