---
import { ExpShowMore } from "@widget/index";
const api = import.meta.env.PRIVATE_API
const response = await fetch(api);
const data = (await response.json())[0];
---

<div class="container">
  {
    Object.entries(data).map(([title, details]) =>
        Array.isArray(details) ? (
          <ExpShowMore
            title={title.toUpperCase().replace(/\d+$/, "")}
            mapeo={details}
            className="text-wrap active"
            client:load
          />
        ) : (
          <ExpShowMore
            title={title.toUpperCase().replace(/\d+$/, "")}
            details={details}
            className="text-wrap active"
            client:load
          />
        )
      )
  }
</div>
