---
import { BaseLayout} from '@atomic/index';
---

<div>
	<main>
		<BaseLayout 
		nameSvg="chevron-down" 
		title="DYLAN MARCANO" 
		subTitle="WEB & MOBILE DEVELOPER" 
		textButton="VIEW MY WORK IN GITHUB" 
		/>
	</main>
</div>