---
import type { BoxIgmProps } from "@libs/index";
import { Image } from "astro:assets";
const { label, img, className = "", link } = Astro.props as BoxIgmProps;
---
<div class={className}>
    <a href={link} target="_blank">
  <figure class="box-imagen">
      <Image
      src={img}
      alt=""
      />
    <figcaption class="overlay">
      <p class="overlay-text">{label}</p>
    </figcaption>
  </figure>
    </a>
</div>
