@use "../../variables";
@use "../../base/animations";

.btn {
  text-decoration: none;
  background: variables.$background-button-none;
  border-radius: 2rem;
  font-size: 1rem;
  max-width: 22rem;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  color: white;
  margin: 0 auto;
  &:hover {
    border-color: variables.$button-hover-primary;
    color: variables.$button-hover-primary;
    cursor: pointer;
  }
}

.btn-github {
  border: variables.$border-button-github;
  height: 4rem;
  font-weight: 900;
  transition: transform 0.3s ease-out;
  filter: opacity(0.999);
  &:hover {
    animation: button-scale 0.5s ease-in-out 0.1s forwards;
  }
  &:not(:hover) {
    animation: button-scale-out-hover 0.5s ease-in-out alternate;
  }
}

.btn-chevron-up {
  position: fixed;
  top: 91.8%;
  left: 96%;
  width: 3rem;
  height: 3rem;
  padding-left: 0.4rem;
  border: none;
  background-color: #141414;
  color: #fff;
  transition: all 0.4s ease-in-out;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  &:hover {
    background-color: variables.$button-hover-secondary;
    color: #fff;
  }

  &.out {
    transform: translateY(20%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media (width <= 25rem) {
  .btn {
    font-size: 0.5rem;
  }
  .btn-chevron-up {
    display: none;
  }
}
