@use "@assets/styles/variables";

.buttonNav {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 0.5rem;
  background-color: variables.$color-nav-background-secondary;
  transition: 0.15s ease;

  &:hover {
    background-color: variables.$button-hover-primary;
  }

  &.active {
    background-color: variables.$button-hover-primary;
  }
}