@use "@assets/styles/variables";

.subTitle {
  margin-top: -6rem;
  margin-left: -2.5rem;
  display: inline-flex;
  align-items: center;
  max-width: 30rem;
  animation: card-header-aparition 1.5s linear;
  font-style: italic;


  & svg {
    color: variables.$button-hover-primary;
  }
}

.subTitle-page {
  margin-left: -2rem;
  font-weight: 300;
  color: variables.$text-color-primary;
}

@media (width >=45rem) {
  .subTitle-page {
    font-size: 1.5rem;
  }
}