@use "@assets/styles/variables";

.svgImg {
  margin-top: -0.8rem;
  width: 1.2rem;
  padding: 0;
}

.container-footer {

  figure {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;

    & svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.chevron-up {
  width: 4rem;
  margin-top: 0.1rem;
  margin-left: -3.35rem;
}

.chevron-down {
  width: 100%;
}

.check-line {
  margin-right: 0;
  width: 2rem;
  margin-left: -2rem;
  height: 1.3rem;
  color: variables.$button-hover-secondary;
}

.mastodon {
  background-color: red;
}