// Colors
$background-primary: #000;
$background-button-none: transparent;
$border-button-github: 0.1rem solid #d6d6d6;
$button-hover-primary: #000fe4;
$button-hover-secondary: #0919f5;
$text-color-primary: gray;

// Fonts
$font-primary: "font-primary", system-ui, sans-serif;

$font-sizes: (
  "base": 1rem,
  "lg": 1.25rem,
  "xl": 2rem,
);

// Base
$width-body: 100%;
$height-body: 100%;
$margin-body: 0;

// Reset
$box-predecible: border-box;
$scroll-smooth: smooth;
