<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="canonical" href="https://nxus-website.vercel.app/" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Explore my work: a Full-stack Developer merging cutting-edge technologies with bussiness-driven results."
		<meta name="robots" content="index, follow" />
		<meta property="og:description" content="Meet Dylan Marcano: Full-stack Developer speciazing in end-to-end web development and innovative UX." />
		<meta property="twitter:card" content="summay_large_image" />
		<meta property="og:title" content="Dylan Marcano | Full-Stack Developer" />
		<meta property="og:url" content="https://nxus-website.vercel.app/" />
		<meta property="og:image" content="https://nxus-website.vercel.app/page.png" />
		<meta property="og:image:width" content="720" />
		<meta property="og:image:height" content="600" />
		<meta property="og:type" content="website" />
		<title>Dylan Marcano | Full-Stack Developer</title>
	</head>
	<body>
		<slot />
	</body>
</html>
