---
import {TitleBlock} from "src/components/subComponents/index";
import type { CardHeaderProps } from "@libs/index";
const { title, subTitle} = Astro.props as CardHeaderProps;
---
<section class="title-block-div">
    <div class="title-block">
        <TitleBlock title={title} subTitle={subTitle} />
    </div>
</section>
