---
import { ExpBlock } from "@atomic/index";
import { ShowMore } from "@widget/index";
---
<section>
    <ShowMore client:load 
    title="BACKGROUND"
     details="Test"
      id="BACKGROUND" 
      idText="backText" 
      svg="chevron-down" 
      className="btn-show-more" 
      />
    <ShowMore client:load 
    title="EXPERTISE" 
    details="Test" 
    id="EXPERTISE" 
    idText="ExpText" 
    svg="chevron-down" 
    className="btn-show-more" />

</section>
