---
import { ExpBlock } from "@atomic/index";
import type { CardExpProps } from "@libs/index";
const { title1, title2, title3, className = "" } = Astro.props as CardExpProps;
---
<section class={className}>
  <ExpBlock title1={title1} title2={title2} title3={title3} />
</section>
