---
import { ExpBlock } from "@atomic/index";
import type { CardExpProps } from "@libs/index";
const { title1, title2, title3, className = "" } = Astro.props as CardExpProps;
---
<section class={className}>
  <div class="container-exp">    
    <h2>Building digital experiences that merge form and function.</h2>
    <ExpBlock title1={title1} title2={title2} title3={title3} />
  </div>
</section>
