---
import { ExpShowMore } from "@widget/index";
import type { CardExpProps } from "@libs/index";
const { title1, title2, title3, className = "" } = Astro.props as CardExpProps;
---
<section class={className}>
 <div class="container">
  <ExpShowMore title={title1}
  details="Hola a todos"
  details2="Hola a todos de nuevo"
  className="text-wrap active"
  client:load
  />
  <ExpShowMore title={title2}
  details="Hola a todos"
  details2="Hola a todos de nuevo"
  className="text-wrap active"
  client:load
  />
  <ExpShowMore title={title3}
  details="Hola a todos"
  details2="Hola a todos de nuevo"
  className="text-wrap active"
  client:load
  />
 </div>
</section>
