---
import { ExpBlock } from "@atomic/index";
---
<section>
    <ExpBlock 
    title="Building digital experiences that merge form and function." 
    summary="Test" 
    text="test" 
    svg="chevron-down" 
    className="text-exp" />
</section>
